html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.title-row {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.device-image {
  object-fit: contain;
}

.device-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: auto;
}

.sign-out-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.loading-container {
  padding: 200px 10px;
  text-align: center;
}

.search-row {
  margin-bottom: 20px;
}

.step-card {
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px 10px;
}

.progress-card {
  text-align: center;
  margin: 10px;
  height: 400px;
}
